# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Domain
src/domain/*.h
src/domain/*.cpp
src/domain/*.bak

# Logs
*.log

# Python
*.pyc

# Build directory
obj-x86_64-linux-gnu
obj-i386-linux-gnu

# Debian
debian/*.substvars
debian/*.debhelper
debian/card-proxy-service
debian/card-proxy-keykeeper2
debian/card-proxy-confpatch
debian/card-proxy-keyapi
debian/card-proxy-tokenizer
debian/card-proxy-tests
debian/files
debian/tmp

