<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xi="http://www.w3.org/2001/XInclude">
    
    <xi:include href="key_settings.xml" />
    
    <CardProxy>
        <card_proxy_port>9119</card_proxy_port>
        <card_proxy_prefix>/card_bind/</card_proxy_prefix>
    </CardProxy>

    <DEK>
        <use_count>10</use_count>
        <bot_limit>100</bot_limit>
        <top_limit>500</top_limit>
    </DEK>

</Settings>

