<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xi="http://www.w3.org/2001/XInclude">
    
    <!--
    <xi:include href="key_settings.xml" />
    -->
    <KeySettings>
        <KeyKeeper>
            <server>127.0.0.1</server>
            <port>4009</port>
        </KeyKeeper>

        <Key>NzY3NzcxMTE=</Key>
    </KeySettings>
    
    <CardProxy>
        <port>9119</port>
        <prefix>/card_bind/</prefix>
    </CardProxy>

    <DEK>
        <use_count>10</use_count>
        <min_limit>100</min_limit>
        <max_limit>500</max_limit>
    </DEK>

</Settings>

