#!/usr/bin/make -f

DEB_SRCDIR=tokenizer
DEB_CMAKE_INSTALL_PREFIX=/usr

#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/cmake.mk
#include /usr/share/cdbs/1/rules/utils.mk

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
VERSION := $(shell dpkg-parsechangelog | sed -n 's/^Version: \(.*\)-.*/\1/p')

%:
	dh $@ --buildsystem cmake --with python-support

override_dh_auto_configure:
	dh_auto_configure -- -DPACKAGE_MANAGER=ON -DYBORM_ROOT=/usr -DUSE_VAULT_DEBUG_API:BOOL=ON

# If you want to make use of more than one core (replace the 6 with your number of cores)
override_dh_auto_build:
	dh_auto_build -- -j6

# If you want to disable test runs (if you officially maintain, you should not)
override_dh_auto_test:

override_dh_installdocs:

TOKENIZER_DIR=debian/card-proxy-tokenizer
KEYKEEPER2_DIR=debian/card-proxy-keykeeper2
CONFPATCH_DIR=debian/card-proxy-confpatch

override_dh_install:
	dh_install
	mv $(TOKENIZER_DIR)/usr/etc $(TOKENIZER_DIR)
	mv $(KEYKEEPER2_DIR)/usr/etc $(KEYKEEPER2_DIR)
	mv $(CONFPATCH_DIR)/usr/etc $(CONFPATCH_DIR)

